
  th {
    background-color: #E2E5EB !important;
    padding: 30px 10px !important; 
    font-weight: 500;
    color: #1F263E;
   font-size: 16px;
   text-transform: capitalize;
  
   
  }
  th:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  th:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
    

  .cat-img{
    width: 5rem;
  }