.notfound-bg {
  background-image: url("/Not_Found.svg"); /* أو استخدم import لو مش في public */
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #ddd;
  padding: 2rem;
}
