.drag-drop-zone {
  border: 2px dashed #28a745;
  border-radius: 5px;
  background-color: #f6fff7;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  width: 100%;
}
.drag-drop-zone:hover {
  background-color: #e9f7ea;
}

select.form-control {
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}

.dropdown-menu {
  border-radius: 20px;
  position: relative;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 19px; 
  width: 10px;
  height: 10px;
  background: white;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  transform: rotate(45deg);
  z-index: 1;
  scale: 1.3;
}
