:root {
  --greeen: #009247;
  --greeen-subtle: #f0ffef;
}

body {
  font-family: "Inter", sans-serif;
}

/* ======================== */

.sidebar-container .ps-sidebar-container {
  background-color: #1f263e;
  color: white;
  height: 100vh;
  border-radius: 0 50px 0 0;
}

.sidebar-container .ps-menu-button {
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: rgba(0, 146, 77, 0.1) !important;
    border-left: 5px solid #009247;
  }
}
.active-menu {
  background-color: rgba(0, 146, 77, 0.1) !important;
  border-left: 5px solid #009247;
}
.css-1wvake5 {
  border: 0 !important;
}

.bi-trash,
.bi-pencil-square {
  cursor: pointer;
}

input,
textarea,
select,
button {
  font-family: "Inter", "PT Serif", sans-serif;
}
input::placeholder,
textarea::placeholder {
  font-family: "Inter", "PT Serif", sans-serif;
}

body,
input,
textarea,
button,
select {
  font-family: "Inter", "PT Serif", sans-serif;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
